# This group is read both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# include *.cnf from the config directory
#
!includedir /etc/my.cnf.d

[mysqld]
skip-name-resolve           # 關閉 DNS 反向解析
max_allowed_packet = 1000M  # 修改資料插入上限 
wait_timeout = 180          # 等待時間
default-time_zone='+8:00'   # 時匰